<table class="data fullwidth">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Variant</th>
            <th>Current stock</th>
            <th>Date subscribed</th>
            <th>Quantity requested</th>
        </tr>
    </thead>
    <tbody>
        {% for subscription in subscriptions %}
            <tr>
                <td>
                    <a href="{{ subscription.user.cpEditUrl() }}">{{ subscription.user.fullName }}</a>
                </td>
                <td>
                    <a href="{{ subscription.variant.getCpEditUrl() }}">{{ subscription.variant.title }}</a>
                    ({{ subscription.variant.sku }})
                </td>
                <td>{{ subscription.variant.stock }}</td>
                <td>{{ subscription.dateCreated|datetime }}</td>
                <td>{{ subscription.quantity }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
